@import './reset';

.title {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #50c0d9;
    box-shadow: 0 0 5px #08080887;
    &__name {
        font-size: 30px;
        color: #fafafa;
        font-weight: 300;
    }
}

.location {
    padding: 7px 15px 0;
    &__name {
        font-size: 48px;
        color: #202020;
        &Text {
            display: flex;
            align-items: center;
            &::after {
                content: '';
                width: 0;
                height: 0;
                margin: 0 auto;
                display: inline-block;
                border-style: solid;
                border-width: 10px 8px 0 8px;
                border-color: #202020 transparent transparent transparent;
            }
        }
        &Options.--option {
            padding: 5px 7px;
            font-size: 36px;
            border-top: 1px solid #aaa;
            &:first-of-type {
                margin-top: 7px;
            }
            &:last-of-type {
                border-bottom: 1px solid #aaa;
            }
        }
    }
}
