@import './reset';
@import './breakpoints';

$mineShaft: #2f2f2f;
$nightRider: #3f3f3f;
$alto: #ddd;

:root {
    --image-dimension: 60px;
    @include breakpoint(tablet) {
        --image-dimension: 70px;
    }
}

@keyframes hide-header {
    from {
        margin-top: 0;
    }
    50% {
        margin-top: 0;
    }
    to {
        margin-top: -70px;
    }
}

.title {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #50c0d9;
    box-shadow: 0 0 5px #08080887;
    @include breakpoint(tablet, max) {
        margin-top: -70px;
        animation: hide-header 2s ease-in-out;
    }
    @include breakpoint(desktop) {
        justify-content: flex-start;
    }
    &__name {
        font-size: 30px;
        color: #fafafa;
        font-weight: 300;
        @include breakpoint(desktop) {
            margin-left: 15px;
        }
    }
}

.widget {
    @include breakpoint(desktop) {
        width: 1024px;
        height: 100%;
        margin: 15px 7px;
        border: 1px solid $alto;
        border-radius: 7px;
        box-shadow: 1px 1px 4px #08080839;
        overflow: hidden;
    }
}

.location {
    max-height: 228px;
    @include breakpoint(desktop) {
        max-height: 271px;
    }
    &__name {
        font-size: 48px;
        color: $mineShaft;
        &Text {
            display: flex;
            align-items: center;
            padding: 15px 15px 0;
            @include breakpoint(desktop) {
                padding: 15px 15px 7px;
            }
            cursor: pointer;
            &::after {
                content: '';
                width: 0;
                height: 0;
                margin: 0 auto;
                @include breakpoint(tablet) {
                    margin-left: 15px;
                }
                transition: .4s;
                display: inline-block;
                border-style: solid;
                border-width: 10px 8px 0 8px;
                border-color: $mineShaft transparent transparent transparent;
            }
            &.--active::after {
                transform: rotate(540deg);
            }
        }
        &Options {
            height: 0;
            overflow: hidden;
            transition: .4s;
            cursor: pointer;
            & + .shadow {
                height: 0;
                margin: 0 -26px;
                z-index: -1;
                position: relative;
                top: 0;
                box-shadow: inset 0 0 4px #08080839;
                transition: .4s;
            }
            &.--open {
                height: 156px;
                & + .shadow {
                    height: 156px;
                    top: -156px;
                }
                @include breakpoint(desktop) {
                    height: 192px;
                    & + .shadow {
                        height: 192px;
                        top: -192px;
                    }
                }
            }
            .option {
                padding: 5px 22px;
                background: #99999904;
                font-size: 34px;
                border-top: 1px solid $alto;
                @include breakpoint(desktop) {
                    height: 64px;
                    padding: 0 22px;
                    display: flex;
                    align-items: center;
                }
                &:last-of-type {
                    border-bottom: 1px solid $alto;
                }
                &:hover {
                    background: #0a0a0a04;
                }
            }
        }
    }
}

.date {
    margin: 7px 15px 0;
    color: $nightRider;
}

.weather {
    margin: 5px 15px 0;
    &__type {
        color: $nightRider;
    }
    &__data {
        display: flex;
        &Basics, &Details {
            width: 50%;
            & > * {
                width: auto;
            }
        }
        &Basics {
            display: flex;
            &.--image {
                width: 70px;
                height: 70px;
            }
            &.--value {
                margin: 5px 0 0 3px;
                font-size: 34px;
                color: $nightRider;
            }
            &.--unit {
                margin: 10px 0 0 3px;
            }
        }
        &Details {
            & > * {
                margin-top: 1px;
            }
            &.--value {
                color: $nightRider;
            }
        }
    }
}

.nutshell {
    margin: 15px 7px;
    @include breakpoint(desktop) {
        margin: 15px 0 0;
    }
    & > ul {
        margin: 0;
        padding-left: 0;
        @include breakpoint(desktop) {
            display: flex;
            justify-content: space-evenly;
        }
    }
    &__day {
        height: 80px;
        padding-left: 10px;
        display: flex;
        border-top: 1px solid $alto;
        list-style: none;
        @include breakpoint(desktop) {
            width: 100%;
            height: auto;
            padding: 15px 0;
            border: 0;
            display: flex;
            flex-direction: column;
        }
        & > * {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include breakpoint(desktop) {
                width: auto;
                margin-bottom: 5px;
            }
            &:first-child {
                font-weight: 500;
                color: $mineShaft;
                @include breakpoint(desktop, max) {
                    align-items: flex-start;
                }
            }
            &:nth-child(2) > img {
                width: var(--image-dimension);
                height: var(--image-dimension);
            }
        }
    }
    & .temperature {
        @include breakpoint(tablet) {
            flex-direction: row;
            justify-content: space-around;
        }
        @include breakpoint(desktop) {
            justify-content: center;
            &__celsius {
                margin-left: 5px;
            }
        }
        &__fahrenheit {
            color: $nightRider;
        }
    }
    @include breakpoint(phone-wide) {
        & .pollen {
            flex-direction: row;
            &__value {
                margin-left: 5px;
            }
        }
    }
}
